# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# MAC configuration file
---
name: fapi_gnb_configure_mac
class: test_mac

# nvlog name: the nvlog instance name
nvlog:
  name: phy

recv_thread_config:
  name: mac_recv
  cpu_affinity: 33
  sched_priority: 95

builder_thread_config:
  name: fapi_builder
  cpu_affinity: 35
  sched_priority: 95

# Dynamic SFN/Slot
enableTickDynamicSfnSlot: 0

# Enable FAPI builder thread
builder_thread_enable: 1

# L2 scheduler total time of a slot (unit: ns). Set 0 to disable this feature.
# Can be a scalar indicating the same value for all slots, or sequence with
# different values to be applied to slot % N, where N is the size of the sequence.
# In the current implementation N must be less than or equal to 20.
schedule_total_time: [225000, 225000, 450000, 450000, 450000, 450000, 450000, 225000, 225000, 225000]
# schedule_total_time: [225000, 225000, 450000, 450000, 450000, 450000, 450000, 225000, 225000, 225000]

# Which FAPI message to delay: bit 0 - DL_TTI.req; bit 1 - UL_TTI.req; bit 2 - TX_DATA.req; bit 3 - UL_DCI.req.
fapi_delay_bit_mask: 0xF

# Thread cores for loading TV, only for trial currently
worker_cores: []

# restart_option:
# 0 - No CONFIG.req
# 1 - Send CONFIG.req with full parameters
# 2 - Send CONFIG.req with new PRACH parameters only
restart_option: 0

# Total slot number in test
test_slots: 80000
# Restart interval after test_slots finished. Unit: second
restart_interval: 0

# For single cell restart test. Unit: slots. When both > 0, restart each cell in sequency.
cell_run_slots: 0
cell_stop_slots: 0

# Send cell config/start/stop request via OAM command
oam_cell_ctrl_cmd: 0

# For cell net parameters update test
# Configs of slot_point=0 only runs at init, other configs will run repeatly.
test_cell_update:
  test_cells: []
  test_sequence:
  - slot_point: 0 # Initial cell parameters
    configs:
    - {cell_id: 0, dst_mac: 26:04:9D:9E:29:B3, vlan: 2, pcp: 7}
  - slot_point: 200
    configs:
    - {cell_id: 0, dst_mac: 20:04:9B:9E:27:A3, vlan: 2, pcp: 7}
  - slot_point: 40000
    configs:
    - {cell_id: 0, dst_mac: 26:04:9D:9E:29:B3, vlan: 2, pcp: 7}

# SHM IPC DL notify mode: 0 - notify per cell, 1 - notify per TTI, 2 - notify per message
ipc_sync_mode: 0

# FAPI indication validating
# validate_enable: 0 - disabled; 1 - report error level; 2 - report error and warning levels
validate_enable: 1
# validate_log_opt: 0 - no print; 1 - print per MSG; 2 - print per PDU; 3 - force print all
validate_log_opt: 3

# Enable FAPI TV map to reuse duplicate PDU data and reduce TV pasing time
tv_data_map_enable: 1

# Enable dummy DL_TTI and UL_TTI request
enable_dummy_tti: 0

# Transport settings for nvIPC
transport:
  type: shm
  shm_config:
    primary: 0
    prefix: nvipc
    cuda_device_id: 0
    ring_len: 8192
    mempool_size:
      cpu_msg:
        buf_size: 8192
        pool_len: 4096
      cpu_data:
        buf_size: 576000
        pool_len: 1024
      cuda_data:
        buf_size: 307200
        pool_len: 0
      gpu_data:
        buf_size: 576000
        pool_len: 0

message: cell_config_request
data:
  nCarrierIdx: 0
  # DMRS -Type A postion
  # Range : pos2 = 2 , pos3 =3
  nDMRSTypeAPos: 2
  # Number of TX Antenna
  nNrOfTxAnt: 8
  #Number of receiving Antennas
  nNrOfRxAnt: 4
  # Cell wide Sub Carrier Spacing Common
  # Range carrier frequency < 6 GHz, 0: 15kHz, 1: 30 kHz
  # Range carrier frequency > 6 GHz, 2: 60kHz, 3: 120 kHz
  nSubcCommon: 1
  # Number of TDD Pattern configured.
  numTDDPattern: 1
  # dl-UL-TransmissionPeriodicity for each TDD pattern
  # 0: ms0p5
  # 1: ms0p625
  # 2: ms1
  # 3: ms1p25
  # 4: ms2
  # 5: ms2p5
  # 6: ms5
  # 7: ms10
  TDDPeriod:
    - 3
    - 0 # should not read this index based on numTDDPattern
  # absolute Frequency SSB in KHz
  nSSBAbsFre : 3313920
  # absolute Frequency of DL pointA in KHz
  nDLAbsFrePointA : 3301680
  # absolute Frequency of UL pointA in KHz
  nULAbsFrePointA : 3301680
  # Carrier bandwidth of DL in number of PRBs
  nDLBandwidth: 100
  # Carrier bandwidth of UL in number of PRBs
  nULBandwidth: 100
  # L1 parameter K0 for DL (Refer 38.211, section 5.3.1)
  # Range 0: -6 1: 0 2: 6
  nDLK0: 1
  # L1 parameter K0 for UL (Refer 38.211, section 5.3.1)
  # Range 0: -6 1: 0 2: 6
  nULK0: 1
  # ifft/fft size in DL
  nDLFftSize: 4096
  # ifft137
  # PRACH zeroCorrelationZone Config
#  nPrachZeroCorrConf: /fft size in UL
  nULFftSize: 4096
  # Range 0->15
  nCarrierAggregationLevel: 0 # should this be 1
  # Frame Duplex Type
  # 0: FDD 1: TDD
  nFrameDuplexType : 1
  # Physical cell id
  nPhyCellId: 41
  # SSB block power
  #0.001 dB step, -60 to 50dBm
  nSSBPwr: 1
  #SS/PBCH clock Subcarrier spacing
  #0: Case A 15kHz 1: Case B 30kHz 2: Case C 30kHz 3: Case D 120kHz 4: Case E 240kHz
  nSSBSubcSpacing: 2
  # SSB periodicity in msec
  # 0: ms5 1: ms10 2: ms20 3: ms40 4: ms80 5: ms160
  # PBCH once every 20 slots
  nSSBPeriod: 2
  # SSB Subcarrier Offset
  # Range 0->23
  nSSBSubcOffset: 0
  # Bitmap for transmitted SSB.
  # 0: not transmitted 1: transmitted. MSB->LSB of first 32-bit number corresponds to SSB 0 to SSB 31
  # MSB->LSB of second 32-bit number corresponds to SSB 32 to SSB 63
  nSSBMask:
    - 0 # Need to be changed for proper PBCH
    - 0 # Need to be changed for proper PBCH
  # MSB->LSB of first byte correspond to bit0 to bit7
  # The same bit order applies to the other two bytes.
  # Need to ne changed for PBCH
  nMIB:
    - 1
    - 13
    - 4
  # PRACH Configuration Index
  # Range 0->255
  nPrachConfIdx : 158
  # PRACH Subcarrier spacing
  # Range 0->3
  nPrachSubcSpacing: 1
  # PRACH Root Sequence Index
  # Range 0->837
  nPrachRootSeqIdx: 137
  # PRACH zeroCorrelationZone Config
  # Range 0->15
  nPrachZeroCorrConf: 5
  # PRACH restrictedSetConfig
  # 0: unrestricted
  # 1: restrictedToTypeA
  # 2: restrictedToTypeB
  nPrachRestrictSet: 0
  # Prach-FDM
  # Range 1, 2, 4, 8
  nPrachFdm: 1
  # Offset of lowest PRACH transmission occasion in frequency domain
  # Range 0->272
  nPrachFreqStart: 3
  # SSB-Per-RACH- occasion
  # 0: 1/8 1: 1/4 2: 1/2 3: 1 4: 2 5: 4 6: 8 7: 16
  nPrachSsbRach: 3
  # measurement parameters
  rsrpMeasurement: 0
  pnMeasurement: 0
  pf_234_interference: 0
  prach_interference: 0

conf_test:
  conf_test_enable: 0
  prach:
    expect_prmbindexes: 10
    delay_error_tolerance: 0.5
  pusch:
  pucch:
    ack_nack_pattern: 01
  stats_file: "conformance_test_stats_file.txt"

...
